<%- include('../partials/header') %>

<h1>All Appointments</h1>

<%if (!events.length) { %>
  <h4>No appointments yet. 
    <%}%>
  <a href="/events/new">Add an event</a>

  <% events.forEach(function(i) { %>
    <% let d = i.date.toDateString()%>
    <div id='index-event' class="accordion">
        <tr>
            <td><%= d %></td>
            <td><%= i.title %></td>
            <td><%=i.evHour%>:<%=i.evMinute%> <%=i.evAMPM %> </td>
            <div id='crud-buttons'>
            <td><form action='/events/<%=i._id%>/?_method=DELETE' method="POST">
              <button type ="submit">Delete</button></form></td>
              <td><a href="/events/<%=i._id%>/edit"><button>Edit</button></a></td></div>
            
        </tr>

    </div>

<div class="panel">
  <p>Lorem ipsum...</p>
</div>
    <% }) %>